<div class="container">
    <h2>Acerca de Quick Stay</h2>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <p>Bienvenido a Quick Stay, una plataforma que ofrece una experiencia excepcional en alojamiento para tus viajes. Nos esforzamos por proporcionar un entorno de calidad, comodidad y accesibilidad en cada alojamiento disponible.</p>
            <p>En Quick Stay, nos enorgullecemos de ofrecer una amplia gama de opciones de alojamiento para satisfacer las necesidades de nuestros huéspedes, desde apartamentos modernos hasta acogedoras casas, garantizando una estancia memorable para cada viajero.</p>
            <p>Nuestro compromiso con la excelencia se refleja en cada aspecto de nuestra plataforma. Valoramos la satisfacción del cliente y trabajamos arduamente para brindar un servicio excepcional en cada reserva.</p>
        </div>
        <div class="col-md-6">
            <img src="url_de_tu_imagen" alt="Quick Stay" class="img-fluid" />
        </div>
    </div>

    <hr />
    <h3>Contacto</h3>
    <p>Para cualquier consulta o pregunta, no dudes en contactarnos:</p>
    <p>Teléfono: 3136824950</p>
    <p>Email: quickstay@gmail.com</p>
</div>
