<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <address>
                    <strong>Dirección:</strong><br />
                    One Microsoft Way<br/>
                    Redmond, WA 98052-6399<br />
                    <abbr title="Phone">P:</abbr> 425.555.0100
                </address>
            </div>
            <div class="col-md-6">
                <address>
                    <strong>Soporte:</strong> <a href="mailto:support@quickstay.com">support@quickstay.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:marketing@quickstay.com">marketing@quickstay.com</a><br />
                    <strong>Correo de contacto general:</strong> <a href="mailto:quickstay@gmail.com">quickstay@gmail.com</a>
                </address>
            </div>
        </div>
    </div>
</main>
