
@{
    ViewBag.Title = "Reportes";
}

<div class="text-center mt-4 mb-3">
    <h1 class="h3">Reportes</h1>
</div>

<ul class="list-group text-center" style="max-width: 300px; margin: 0 auto;">
    <li class="list-group-item">
        <a class="btn btn-success" target="_blank" href="~/City/CityByCountryReport?Format=PDF">
            Reporte de ciudades por país
        </a>    </li>
    <li class="list-group-item">
        <a class="btn btn-primary" target="_blank" href="~/Property/PropertiesByCitiesReport?Format=PDF">
            Cantidad de propiedades por ciudad
        </a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-info" target="_blank" href="~/Property/PropertiesByOwnerReport?Format=PDF">
            Propiedades por propietario y número de reservas
        </a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-warning" target="_blank" href="~/Feedback/FeedbackByPropertyReport?Format=PDF">
            Comentarios y calificaciones de las propiedades
        </a>
    </li>
</ul>

