@model AirUdC.GUI.Models.Parameters.CityModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3>Estas seguro que quieres eliminar esto?</h3>
            <h4>Ciudad</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CityName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CityName)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Delete</button> |
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            }
        </div>
    </div>
</div>
